<div class="container">
    <br><br>
    <ul class="collection collapsible popout" data-collapsible="accordion" id="friends">
        <!-- Friends List -->
    </ul>
</div>

<template name="friend-list-item" class="hide">
    <li data-id="{{ Kimlik }}">
        <div class="friend-collection-item collapsible-header collection-item avatar">
            <img src="{{ Avatar }}" class="circle">
            <h4 class="title">{{ AdSoyad }}</h4>
        </div>
        <div class="collapsible-body">
            <a class="waves-effect waves-light btn blue"
               onclick="F.Friends.askForFriendship(this)"
               data-id="{{ Kimlik }}">
                <i class="material-icons left">person_add</i>
                Arkadaşlarıma Ekle
            </a>
            <a class="waves-effect waves-light btn red"
               onclick="F.Friends.removeFriendship(this)"
               data-id="{{ Kimlik }}">
                <i class="material-icons left">person_outline</i>
                Arkadaşlarımdan Çıkar
            </a>
            <a class="waves-effect waves-light btn green"
               onclick="F.Friends.viewProfile(this)"
               data-id="{{ Kimlik }}">
                <i class="material-icons left">account_circle</i>
                Profil
            </a>
            <a class="tooltipped disabled waves-effect waves-light btn black"
                data-position="bottom"
                data-tooltip="Yakında"
                data-delay="50">
                <i class="material-icons left">block</i>
                Engelle
            </a>
        </div>
    </li>
</template>
<div class="modal" id="profileModal">
    <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator pp" src="">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
                <span class="name"></span>
            <i class="material-icons right">more_vert</i></span>
        </div>
        
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
                <span class="name"></span>
            <i class="material-icons right">close</i></i></span>
            <p>
                <div class="cardy z-depth-4">
                    <i class="material-icons red">note_add</i>
                    <p>Notlar</p>
                    <small class="notes">22</small>
                </div>
                <div class="cardy z-depth-4">
                    <i class="material-icons blue">people</i>
                    <p>Arkadaşlar</p>
                    <small class="friends">22</small>
                </div>
                <div class="cardy z-depth-4">
                    <i class="material-icons yellow">people_outline</i>
                    <p>Gruplar</p>
                    <small class="groups">22</small>
                </div>
            </p>
        </div>
    </div>
</div>