<div class="container notes" id="content">
    <br>
    <div class="row">
        <!-- Notes -->
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue darken-1 tooltipped"
           data-position="top"
           data-delay="50"
           data-tooltip="Not Ekle"
           data-target="editNoteModal"
           data-action="add">
            <i class="large material-icons">note_add</i>
        </a>
    </div>
</div>
<script>
    F.Notes.getNotes()
</script>
<template class="hide" name="note">
    <div class="col m4 s12 note-{{ Kimlik }}">
        <div class="card-panel {{ Renk }} z-depth-3 note">
            <div class="note-content">
                <div class="actions {{ Renk }}">
                    <button onclick=""
                            data-action="delete"
                            data-id="{{ Kimlik }}"
                            data-owner-id="{{ Sahibi }}"
                            class="btn-floating red tooltipped"
                            data-position="bottom"
                            data-delay="50"
                            data-tooltip="Sil"
                            data-target="deleteNoteConfirm">
                        <i class="material-icons">delete</i>
                    </button>
                    <button onclick=""
                            data-action="edit"
                            data-id="{{ Kimlik }}"
                            data-owner-id="{{ Sahibi }}"
                            class="btn-floating yellow tooltipped"
                            data-position="bottom"
                            data-delay="50"
                            data-target="editNoteModal"
                            data-action="edit"
                            data-tooltip="Düzenle">
                        <i class="material-icons">edit</i>
                    </button>
                    <button onclick=""
                            data-action="share"
                            data-id="{{ Kimlik }}"
                            data-owner-id="{{ Sahibi }}"
                            class="btn-floating blue tooltipped"
                            data-position="bottom"
                            data-delay="50"
                            data-target="shareNoteModal"
                            data-tooltip="Paylaş">
                        <i class="material-icons">people</i>
                    </button>
                </div>
                <div class="note-header">
                    <i class="material-icons status-icon">{{ Icon }}</i>
                    <h3 class="header">
                        {{ Baslik }}
                    </h3>
                </div>
                <div class="note-body">
                    <div class="note_content">{{ Icerik }}</div>
                        <div class="note-footer">
                        <span class="reminder item">{{ Hatirlatici }}</span>
                        <span class="owner item">{{ SahibiAdSoyad }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<div class="modal" id="deleteNoteConfirm">
    <div class="modal-content">
        <h4>Bu Notu Silmek İstediğinize Emin Misiniz ?</h4>
        <p>Bir notu silmek onu tamamen yok etmektir.
        Eğer kendi notlarınızdan birini silerseniz.
        Bu işlemin geri dönüşü yoktur. Eğer notunuzu
        arkadaşlarınızla paylaştıysanız onlar da bu notu
        bir daha göremeyecekler. Eğer bu silmeye çalıştığınız
        başkasının sizinle paylaştığı bir not ise sadece sizin
        notlarınızdan kaldırılacak, notun asıl sahibi mağdur olmayacaktır.</p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat deleteNoteConfirmModalAccept"
           onclick="F.Notes.removeNote(this)">
            Tamam
        </a>
        <a class="modal-action modal-close waves-effect waves-blue btn-flat">
            Vazgeç
        </a>
    </div>
</div>
<form class="modal modal-fixed-footer" id="editNoteModal">
    <div class="modal-content row">
        <h4 id="noteFormTitle">Düzenle</h4>
        <!--Baslik-Icerik-Hatirla-Hatirlatici-Renk-->
        <div class="input-field col s12">
            <input id="title" type="text" class="validate">
            <label for="title" class="active">Başlık</label>
        </div>
        <div class="input-field col s12">
            <textarea id="context" class="materialize-textarea"></textarea>
            <label for="content" class="active">İçerik</label>
        </div>
        <div class="input-field col s12">
            <div class="switch">
                <label>
                    <div class="left">Hatırlat </div>
                    <div class="right">
                        <input id="remind" type="checkbox">
                        <span class="lever"></span>
                    </div>
                </label>
            </div><br><br>
        </div>
        <div class="input-field col s12">
            <label for="reminderDate" class="active">Hatırlatıcı Tarihi</label>
            <input type="date" class="datepicker" id="reminderDate">
        </div>
        <div class="input-field col s12">
            <label for="reminderTime" class="active">Hatırlatıcı Saati</label>
            <input type="time" class="timepicker" id="reminderTime">
        </div>
        <div class="input-field col s12">
            <label for="color" class="active">Renk</label>
            <select id="color">
                <option value="0">Siyah</option>
                <option value="1">Füme</option>
                <option value="2">Yeşil</option>
                <option value="3">Mavi</option>
                <option value="4">Kırmızı</option>
                <option value="5">Mor</option>
                <option value="6">Pembe</option>
                <option value="7">Turuncu</option>
                <option value="8">Kahverengi</option>
                <option value="9">Gri</option>
                <option value="10">Beyaz</option>
            </select>
        </div>
        <input type="hidden" id="noteid" />
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-yellow btn-flat editNoteConfirmModalAccept"
           data-container="editNoteModal"
           onclick="F.Notes.saveNote(this)">
            Kaydet
        </a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat">
            Vazgeç
        </a>
    </div>
</form>
<div class="modal modal-fixed-footer" id="shareNoteModal">
    <div class="modal-content">
        <h4>Paylaş</h4>
        <ul id="friends" class="collection">
           <!--Friends List-->
        </ul>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat shareNoteConfirmModalAccept"
           data-container="friends"
           onclick="F.Notes.shareNote(this)">
           Paylaş
        </a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat">
            Vazgeç
        </a>
    </div>
</div>
<template name="friend-collection-item-template">
     <li class="collection-item avatar friend-collection-item" class="friend-item {{ Kimlik }}">
        <img src="{{ Avatar }}" class="circle" />
        <span class="title">{{ AdSoyad }}</span>
        
        <a class="secondary-content">
            <p>
                <input type="checkbox" name="shareTo[]" value="{{ Kimlik }}" id="test{{ Kimlik }}" />
                <label for="test{{ Kimlik }}"></label>
            </p>
        </a>
    </li>
</template>