<div class="container">
    <div class="row">
        <ul class="collection collapsible popout" data-collapsible="accordion" id="asks">
            <!-- Friends List -->
        </ul>
    </div>
</div>

<template class="hide" name="ask-list-item">
    <li data-id="{{ Kimlik }}">
        <div class="friend-collection-item collapsible-header collection-item avatar">
            <img src="{{ Avatar }}" class="circle" />
            <h4 class="title">{{ AdSoyad }}</h4>
        </div>
        <div class="collapsible-body">
            <a class="waves-effect waves-light btn blue"
               onclick="F.Requests.answer('yes', this)"
               data-id="{{ Kimlik }}">
               <i class="material-icons left">check</i>
               Kabul Et
            </a>
            <a class="waves-effect waves-light btn red"
               onclick="F.Requests.answer('yes', this)"
               data-id="{{ Kimlik }}">
               <i class="material-icons left">close</i>
               Reddet
            </a>
        </div>
    </li>
</template>