<div class="container">
    <div class="row fragmentContext">
        <!-- settings -->
    </div>
</div>

<template class="hide" name="settings-form">
    <form class="settings">
        <div class="pp-holder">
            <input type="file" name="pp" class="pp">
            <img src="{{ Avatar }}" class="pp" />
        </div>

        <div class="input-field">
            <input type="text" id="name" class="name" placeholder="Ad Soyad" value="{{ AdSoyad }}" />
            <label class="active" for="name">Ad Soyad</label>
        </div>

        <div class="input-field">
            <input type="email" id="email" class="email" value="{{ Eposta }}" disabled />
            <label class="active" for="email">E-Posta</label>
        </div>
        
        <h5 class="divide">Şifre Değiştirme</h5>

        <div class="input-field">
            <input type="password" class="pass1" name="password" placeholder="Şifre" id="pass1" />
            <label for="pass1"></label>
        </div>

        <div class="input-field">
            <input type="password" class="pass2" name="repassword" placeholder="Şifre Tekrar" id="pass2" />
            <label for="pass2"></label>
        </div>

        <div class="input-field">
            <button class="btn blue">
                <i class="material-icons left">save</i>
                Kaydet
            </button>
        </div>
    </form>
</template>
