<nav class="blue darken-1">
    <div class="nav-wrapper row">
        <ul class="left col m1 s1">
            <li>
                <a class="collapse" data-activates="sidenav">
                    <i class="material-icons">menu</i>
                </a>
            </li>
        </ul>
        <a class="brand-logo col m2 s2">{{ app_name }}</a>

        <form class="col s6 m6 hide search-form">
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons" data-deactivates="search-form">close</i>
            </div>
        </form>

        <ul class="right col s2 m2">
            <li>
                <a data-activates="refresh">
                    <i class="material-icons">refresh</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button" data-activates="dropdown-menu">
                    <i class="material-icons">more_vert</i>
                </a>
            </li>
        </ul>

        <ul id="dropdown-menu" class="dropdown-content">
            <li><a onclick="F.Requests.get($('[data-content-area=fragmentFrame]'))"><i class="material-icons">people</i>Arkadaşlık İstekleri</a></li>
            <li><a data-activates="search-form"><i class="material-icons">search</i>Ara</a></li>
        </ul>

        <div class="side-nav" id="sidenav">
            <div class="header">
                <img src="{{ avatar }}" class="pp" />
                <div class="label">
                    <span class="name">{{ name }}</span>
                    <span class="email">{{ email }}</span>
                </div>
            </div>
            <ul>
                <li>
                    <a onclick="F.Notes.get($('[data-content-area=fragmentFrame]'))">
                        <i class="material-icons">library_books</i>
                        Notlarım
                    </a>
                </li>
                <li>
                    <a onclick="F.Groups.get($('[data-content-area=fragmentFrame]'))">
                        <i class="material-icons">people_outline</i>
                        Gruplar
                    </a>
                </li>
                <li><a class="group">Diğer</a></li>
                <li>
                    <a onclick="F.Friends.get($('[data-content-area=fragmentFrame]'))">
                        <i class="material-icons">people_outline</i> Çevrem
                    </a>
                </li>
                <li>
                    <a onclick="F.Profile.get($('[data-content-area=fragmentFrame]'))">
                        <i class="material-icons">assignment</i> Profilim
                    </a>
                </li>
                <li>
                    <a onclick="F.Settings.get($('[data-content-area=fragmentFrame]'))">
                        <i class="material-icons">settings_applications</i> Ayarlar
                    </a>
                </li>
                <li>
                    <a onclick="G.Home.logOut()">
                        <i class="material-icons">exit_to_app</i> Çıkış Yap
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section data-content-area="fragmentFrame"></section>
