<section class="login">
    <form class="container">
        <h1 class="title">
            GİRİŞ YAP
        </h1>

        <input type="email" placeholder="E-Posta" class="email" required /><br>
        <input type="password" placeholder="Şifre" class="password" minlength="5" maxlength="20" required /><br>
        <button class="login-button" type="button" onclick="G.Login.attempToLogin(
            document.querySelector('input.email').value,
            document.querySelector('input.password').value
        )">
            GİRİŞ YAP
        </button>

        <div class="bottom">
            <a href="#welcome" class="back">GERİ</a>
            <a href="#register" class="back">KAYIT OL</a>
        </div>
    </form>
</section>