<section class="register">
    <form class="container">
        <h1 class="title">
            KAYIT OL
        </h1>

        <input type="text" placeholder="Ad Soyad" class="name" required minlength="3" maxlength="50" /><br>

        <input type="email" placeholder="E-Posta" class="email" required /><br>

        <input type="password" placeholder="Şifre" class="password" required min="5" max="20" /><br>

        <button class="login-button" type="button" onclick="G.Register.attempToRegister(
            document.querySelector('input.name').value,
            document.querySelector('input.email').value,
            document.querySelector('input.password').value
        )">
            KAYIT OL
        </button>

        <div class="bottom">
            <a href="#login" class="back">GİRİŞ YAP</a>
            <a href="#welcome" class="back">GERİ</a>
        </div>
    </form>
</section>