<section class="welcome">
    <div class="container">
        <h1 class="title">HOŞGELDİN</h1>
        <p class="description">
            Sensiz başlamayı düşünmemiştik.
            İleride mevcut hesabına giriş
            yapabilir veya yeni bir hesap
            açabilirsin...
        </p>
        <a href="#login" class="continue">DEVAM</a>
    </div>
</section>