@import url('./_variables.less');
@import url('./_mixins.less');
@import url('./clockpicker.less');

html { height:100%; }
nav {
    .brand-logo {
        font-size: 20px !important;
        font-weight: bold;
        position: relative !important;
    }
    .dropdown-content, .dropdown-content a {
        width: 220px !important;
    }
    form {
        margin-top: 7px;
        height: 50px;
        line-height: 50px;
        input:focus {
            background: rgba(0, 0, 0, .2) !important;
            border-radius: 5px;
        }
        * {
            height: 50px !important;
            color: white !important;
            line-height: 50px !important;
        }
    }
}

.notes {
    .note {
        overflow: hidden;
        * {
            .transition(all .45s ease);
        }
        .note-content {
            position: relative;
            div.actions {
                text-align: center;
                display: flex;
                justify-content: space-around;
                align-items: center;
                vertical-align: middle;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 100;
                .transition(all .3s ease);
                .transform(scale(0));
                opacity: 0;
            }
            .note-header {
                width: 100%;
                height: 50px;
                position: relative;

                .status-icon {
                    margin-right: 10px;
                    display: block;
                    float: left;
                }
                h3.header {
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    font-weight: bold;
                    position: relative;
                    width: 100%;
                    padding-top: 3px;
                }
            }
            .note-body {
                .note-footer {
                    span.item {
                        width: 100%;
                        display: inline-block;
                        margin-top: 15px;
                        span {
                            position: relative;
                            display: inline-block;
                            top: -5px;
                            left: 5px;
                        }
                        &:last-child {
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        &:hover {
            div.actions {
                .transform(scale(1));
                opacity: 1;
            }
        }
    }
}

.collection {
    .collection-item.friend-collection-item.avatar {
        min-height: 62px;
        .title {
            margin: 11px 0 0 5px;
            display: inline-block;
        }
    }
}

#shareNoteModal {
    width: 25%;
}

#profileModal {
    width: 28%;
    padding: 0;
    box-shadow: none;
    background: transparent;
}

.cardy {
    height: 60px;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    .material-icons {
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        padding-left: 6px;
        font-size: 30px;
        float: left;
        display: block;
        color: white;
    }
    p {
        margin: 0; padding: 10px 18px;
        float: left;
        display: block;
        font-size: 26px;
        font-weight: bold;
        opacity: .7;
    }
    small {
        position: absolute;
        font-weight: bolder;
        font-size: 102px;   
        right: -15px; 
        top: -50px;
        .transform(rotate(5deg));
        opacity: .5;
    }
}

.welcome {
    background-image: linear-gradient(#309ff4, #30d4f4);
    background-size: 100% 100%;
    position:absolute; top:0; bottom:0; right:0; left:0; 
    text-align: center; 
    .title {
        margin-top: 15%;
        font-size: 60px;
        color: white;
        font-weight: bolder;
        text-align: center
    }
    .description {
        width: 45%;
        margin: 0 auto;
        font-size: 20px;
        color: white;
        margin-top: 5%;
        text-align: center;
    }
    .continue {
        display: inline-block;
        width: 220px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 20px;
        background: white;
        border-radius: 12px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .3);
        margin: 8% auto 0 auto;
        .transition(all .2s ease);
        &:hover {
            border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        }
    }
}

.login, .register {
    &.login {
        background-image: linear-gradient(#71AEF5, #FE38E0);
    } &.register {
        background-image: linear-gradient(#FE38E0, #71AEF5);
    }
    position:absolute; top:0; bottom:0; right:0; left:0;
    text-align: center;
    .title {
        margin-top: 10%;
        font-size: 60px;
        color: white;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 5%;
    }
    input {
        width: 35%;
        float: none;
        color: white;
        text-align: center;
        border-bottom-width: 2px !important;
        border-bottom-color: white;
    }
    .login-button {
        border: 2px solid white;
        width: 180px;
        border-radius: 15px;
        color: white;
        background: transparent;
        height: 60px;
        margin-top: 5%;
    }
    .bottom {
        position: absolute;
        bottom: 0; left: 0; right: 0;
        line-height: 60px;
        .back {
            padding: 0 20px;
            font-size: 20px;
            color: white;
            &:first-child {
                margin-right: 10%;
            }
        }
    }
}

.settings {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    .pp-holder {
        height: 200px; width: 200px;
        overflow: hidden;
        text-align: center;
        line-height: 200px;
        border-radius: 1000px;
        margin: 15px auto 0 auto;
        position: relative;
        img {
            height: 100%;
        }
        input {
            position: absolute; top: 0; left: 0; right: 0; bottom: 0;
            opacity: 0;
            cursor: pointer !important;
        }
    }
}